{% extends 'block/block.html' %}
{% block title1 %}YOUR HISTORY{% endblock %}
{% block title %}INQUIAMAK VIEW HISTORY{% endblock %}
{% block navheader %}HISTORY{% endblock %}
{% block nav%}
    <a href="{% url 'home' %}">| HOME</a>
    <a href="{% url 'viewhistory' %}">| EDIT DETAILS</a>
    <a href="{% url 'viewhistory' %}">| VIEW HISTORY</a>
  <a href="{% url 'logout' %}">| LOG OUT</a>
{% endblock %}
{% block body %}
<!-- Table -->
    <p>

    </p>
    <p>

    </p>
<section>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>Inquiry ID</th>
                <th>Description</th>
                <th>Reported Date</th>
            </tr>
            </thead>
            <tbody>
            {% for object in obj %}
                <tr>
                <td>{{ object.inquiry_id }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.date }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</section>
{% endblock %}