{% extends 'block/block.html' %}
{% block title1 %}LOGIN{% endblock %}
{% block title %}LOGIN{% endblock %}
{% block navheader %}LOGIN PAGE {% endblock %}
{% block nav%}
{% endblock %}
{% block body %}
    <section id="banner">
    <i class="icon fa-diamond"></i>
    <h2>INQUIAMAK</h2>
    <p>MAKE YOUR WAY BETTER</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container 75%">
            <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                    <h4>User Name</h4>
                    <input name="username" id="textinput" type="text" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <h4>Password</h4>
                    <input name="password"  type="password" id="pw"/>

                </div>
                <h3>{{ msg }}</h3>
            </div>
        </div>
        <ul id="list">
        <li><button type="submit" name='submit' value="login">Login</button>
        <button type="submit" name='submit' value="signup"><a href="{% url 'register' %}">SignUp</a></button></li>
        </ul>
    </form>
    </section>
{% endblock %}