<html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<input type="text" name="chatmsg" id="chat">
<button  id="sub">submit</button>
<p id="paragr"></p>
<script>
    $("#sub").click(function (e) {
      e.preventDefault();
      var val = $("#chat").val();


      $.ajax({
        type : 'GET',
        url: '{% url 'test' %}',
        data: {
          'val': val
        },
        dataType: 'json',
        success: function (json) {
            $("#paragr").append(json.data);
            alert("added");

        }
      });

    });

</script>
<script src="{% static 'assertsChatWindow/chat.js' %}"></script>
</body>
</html>